[submodule "cmake-conan"]
	path = cmake-conan
	url = https://github.com/tnt-coders/cmake-conan.git
[submodule "cmake-config"]
	path = cmake-config
	url = https://github.com/tnt-coders/cmake-config.git
